<div class="container">
  <%= render "shared/errors", obj: @user %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-success rounded form-container", local: true) do |f| %>
        <div class="form-group row mb-3">
          <%= f.label :user_name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :user_name, class: "form-control shadow rounded", placeholder: "Name of a new user" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
          <div class="col-2"></div>
          <div class="col-3">
          <%= f.submit 'Sign Up', class: "btn btn-outline-light btn-lg button-size" %>
          </div>
        </div>
      <% end %>
    </div>
     
          <% if @user.persisted? %>
          <div class="justify-content-center row">
          <div class="col-2"></div>
              <div class="col-6 mb-3">
          <%= link_to '[ Show this article ]', @user, class: "text-info" %>
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
        
        </div>  
      </div>
  </div>

        <% else %>
        <div class="justify-content-center row">
      <div class="col-2"></div>
          <div class="col-4 mb-3">
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
        </div>  
      </div>
  </div>
        <% end %>
      </div>  
      </div>
  </div>
</div>